body{
    background-image: url("../../images/fondhomenails.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.month_set{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: center;
    margin: 3% 25% 0% 25%;
    padding: 25px 0px 25px 20px;
    .month_set_photo{
        width: 300px;
        height: 350px;
        object-fit: cover;
    }
    .month_set_contenu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .set_name{
            font-size: 25px;
        }
        .set_price{
            font-size: 18px;
        }
        .set_description{
            white-space: normal;
            padding: 0px 70px 0px 100px;
            text-align: center;
        }
    }
}
.shop_categories{
    display: flex;
    justify-content: space-around;
    padding: 20px 50px 0px 50px;
    img{
        width: 250px;
    }
}
.about_me{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: center;
    margin: 3% 25% 0% 25%;
    padding: 25px 0px 25px 20px;
    .about_me_photo{
        width: 300px;
        height: 350px;
        object-fit: cover;
    }
    .about_me_contenu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .about_me_title{
            font-size: 25px;
        }
        .about_me_description{
            white-space: normal;
            padding: 0px 70px 0px 100px;
            text-align: center;
        }
    }
}
.social_networks{
    display: flex;
    justify-content: space-around;
    padding: 3% 25% 0% 25%;
    img{
        width: 50px;
    }
}