.mentions_legales_content{
    padding: 0px 80px 0px 80px;
    .mentions_legales_title{
        font-weight: 200;
        padding: 40px 0px 40px 0px;
    }
    h2{
        font-weight: 200;
        text-decoration: underline 1px;
    }
}